﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}
<div class="container">

    <div class="features_items my-account-page">
        <!--features_items-->
        <h2 class="title text-center">@T("ShoppingCart")</h2>
        @*@Html.Partial("OrderSummary", Model)*@
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
    </div>



</div>





