﻿@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //scripts
    <script src="~/js/public.countryselect.js" asp-location="Footer"></script>
    //Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.countryselect.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    NopHtml.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}

<script src="~/js/public.accordion.js" asp-location="Footer"></script>
<script src="~/js/public.onepagecheckout.js" asp-location="Footer"></script>

<div class="container one-page-checkout-page">
    <h2 class="title text-center">@T("Checkout")</h2>
    <div class="custom-page-box-div">

        <div class="opc panel-group" id="checkout-steps">

            <div id="opc-billing" class="panel panel-default tab-section allow">
                <div class="step-title panel-heading">
                    <h2 class=" panel-title">
                        <span class="fa fa-map-marker"></span>
                        @T("Checkout.BillingAddress")
                        <span class="pull-right op-number">@billingAddressStepNumber</span>
                    </h2>
                </div>

                <div id="checkout-step-billing" class="step a-item panel-collapse collapse" style="display: none;">
                    <div class="panel-body">
                        <form id="co-billing-form" action="" method="post">
                            <div id="checkout-billing-load">
                                @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                                @*billing address content will be loaded here*@
                            </div>
                        </form>
                        <script type="text/javascript" asp-location="Footer">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                        </script>

@*                        <div class="buttons" id="billing-buttons-container">
                            <input type="button" title="@T("Common.Continue")" class="btn btn-primary button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>*@
                        <div class="buttons" id="billing-buttons-container">
                            <button class="btn btn-primary" id="edit-billing-address-button" type="button" class="button-1" style="display: none" onclick="Billing.editAddress('@(storeLocation)checkout/GetAddressById/'); return false;">@T("Common.Edit")</button>

                            <button class="btn btn-primary" id="delete-billing-address-button" type="button" class="button-1" style="display: none" onclick="Billing.deleteAddress('@(storeLocation)checkout/DeleteEditBillingAddress/'); return false;">@T("Common.Delete")</button>

                            <button class="btn btn-primary" id="save-billing-address-button" type="button" class="button-1" style="display: none" onclick="Billing.saveEditAddress('@(storeLocation)checkout/SaveEditBillingAddress/'); return false;">@T("Common.Save")</button>

                            <button class="btn btn-primary" type="button" name="save" class="button-1 new-address-next-step-button" onclick="Billing.save()">@T("Common.Continue")</button>

                            <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    </div>

                </div>
            </div>
            @if (Model.ShippingRequired)
            {
                <div id="opc-shipping" class="panel panel-default tab-section">
                    <div class="step-title panel-heading">

                        <h2 class="panel-title">
                            <span class="fa fa-map-marker"></span>
                            @T("Checkout.ShippingAddress")
                            <span class="pull-right op-number">@shippingAddressStepNumber</span>
                        </h2>

                    </div>
                    <div id="checkout-step-shipping" class="panel-collapse collapse step a-item" style="display: none;">
                        <div class="panel-body">
                            <form action="" id="co-shipping-form" method="post">
                                <div id="checkout-shipping-load">
                                    @*shipping address content will be loaded here*@
                                </div>
                            </form>
                            <script type="text/javascript" asp-location="Footer">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                            </script>
                            <div class="buttons" id="shipping-buttons-container">
                                <div class="row">
                                    <div class="col-md-3 pull-left">
                                        <p class="back-link">
                                            <a class="btn btn-primary" href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                        </p>
                                    </div>
                                    <div class="col-md-3 pull-right pull-text-right">
                                        <input type="button" class="btn btn-primary button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                                        <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div id="opc-shipping_method" class="panel panel-default tab-section">
                    <div class="step-title panel-heading">

                        <h2 class="panel-title"><span class="fa fa-truck"></span>@T("Checkout.ShippingMethod") <span class="pull-right op-number">@shippingMethodStepNumber</span></h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="panel-collapse collapse step a-item" style="display: none;">
                        <div class="panel-body">
                            <form id="co-shipping-method-form" action="" method="post">
                                <div id="checkout-shipping-method-load">
                                    @*shipping methods content will be loaded here*@
                                </div>
                                <script type="text/javascript" asp-location="Footer">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                </script>
                                <div class="buttons" id="shipping-method-buttons-container">
                                    <div class="row">
                                        <div class="col-md-3 pull-left">
                                            <p class="back-link">
                                                <a href="#" class="btn btn-primary" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                            </p>
                                        </div>
                                        <div class="col-md-3 pull-right pull-text-right">
                                            <input type="button" class="button-1 shipping-method-next-step-button  btn btn-primary" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                            <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            }

            <div id="opc-payment_method" class="panel panel-default tab-section">
                <div class="step-title panel-heading">

                    <h2 class="panel-title"><span class="fa fa-credit-card"></span>@T("Checkout.PaymentMethod")<span class="pull-right op-number">@paymentMethodStepNumber</span></h2>
                </div>

                <div id="checkout-step-payment-method" class="panel-collapse collapse step a-item" style="display: none;">
                    <div class="panel-body">
                        <form action="" id="co-payment-method-form" method="post">
                            <div id="checkout-payment-method-load">
                                @*payment methods content will be loaded here*@ Payment is not required
                            </div>
                        </form>
                        <script type="text/javascript" asp-location="Footer">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                        </script>
                        <div class="buttons" id="payment-method-buttons-container">
                            <div class="row">
                                <div class="col-md-3 pull-left">
                                    <p class="back-link">
                                        <a class="btn btn-primary" href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                </div>
                                <div class="col-md-3 pull-right pull-text-right">
                                    <input type="button" class="btn btn-primary button-1 payment-method-next-step-button" title="@T("Common.Continue")" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                                    <span id="payment-method-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div id="opc-payment_info" class="panel panel-default tab-section">
                <div class="step-title panel-heading">


                    <h2 class="panel-title"><span class="fa fa-info-circle"></span> @T("Checkout.PaymentInfo")<span class="pull-right op-number">@paymentInfoStepNumber</span></h2>
                </div>

                <div id="checkout-step-payment-info" class="panel-collapse collapse  step a-item" style="display: none;">
                    <div class="panel-body">
                        <form action="" id="co-payment-info-form" method="post">
                            <div id="checkout-payment-info-load">
                                @*payment info content will be loaded here*@ Payment is not required
                            </div>
                        </form>
                        <script type="text/javascript" asp-location="Footer">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                        </script>
                        <div class="buttons" id="payment-info-buttons-container">
                            <div class="row">
                                <div class="col-md-3 pull-left">
                                    <p class="back-link">
                                        <a class="btn btn-primary" href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                </div>
                                <div class="col-md-3 pull-right pull-text-right">
                                    <input type="button" class="btn btn-primary button-1 payment-info-next-step-button" title="@T("Common.Continue")" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                                    <span id="payment-info-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div id="opc-confirm_order" class="panel panel-default tab-section">
                <div class="step-title panel-heading">

                    <h2 class="panel-title">
                        <span class="fa fa-check"></span>
                        @T("Checkout.ConfirmOrder")
                        <span class="pull-right op-number">@confirmOrderStepNumber</span>
                    </h2>
                </div>
                <div id="checkout-step-confirm-order" class="panel-collapse collapse step a-item" style="display: none;">

                    <div class="panel-body">
                        <div id="checkout-confirm-order-load">
                            @*confirm order content will be loaded here*@
                        </div>
                        <script type="text/javascript" asp-location="Footer">
                            ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                        </script>
                        <div class="buttons" id="confirm-order-buttons-container">
                            <div class="row">
                                <div class="col-md-3 pull-left">
                                    <p class="back-link">
                                        <a class="btn btn-primary" href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                </div>
                                <div class="col-md-3 pull-right pull-text-right">
                                    <input type="button" class="btn btn-primary button-1 confirm-order-next-step-button" title="@T("Common.Confirm")" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                                    <span id="payment-info-please-wait" class="please-wait" style="display: none;"> @T("Checkout.SubmittingOrder")</span>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>


        <script type="text/javascript" asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
        </script>
    </div>
</div>




