﻿@inject IWebHelper webHelper
@using Nop.Core
@model CheckoutShippingAddressModel

@using Nop.Web.Models.Checkout;
@{
    Layout = "_ColumnsOne";
    var storeLocation = webHelper.GetStoreLocation();

    //title
    NopHtml.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-checkout-page");
    NopHtml.AppendPageCssClassParts("html-shipping-address-page");
}

<script src="~/js/public.billingaddress.js" asp-location="Footer"></script>
<script src="~/js/public.shippingaddress.js" asp-location="Footer"></script>

@await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Address })
<div class="container">

    <div class="features_items my-account-page">
        <!--features_items-->
        <h2 class="title text-center">@T("Checkout.ShippingAddress")</h2>
        <div class="custom-page-box-div">
            <div class="row">
                @if (Model.ExistingAddresses.Count > 0)
                {
                    <div class="col-lg-6 ">
                        <div class="box-heading">
                            <h4>@T("Checkout.SelectShippingAddress")</h4>
                        </div>
                        <div class="custom-footer-cart-div">

                            @foreach (var item in Model.ExistingAddresses)
                            {


                                <div class="coupon-box offer offer-default">
                                    <div class="title">
                                        <strong>@item.FirstName @item.LastName</strong>
                                    </div>

                                    <div class="hint">
                                        <div class="">@T("Address.Fields.Email"): @item.Email</div>

                                        @if (item.PhoneEnabled)
                                        {
                                            <div class="phone">
                                                @T("Address.Fields.PhoneNumber"):
                                                @item.PhoneNumber
                                            </div>
                                        }
                                        @if (item.FaxEnabled)
                                        {
                                            <div class="fax">
                                                @T("Address.Fields.FaxNumber"):
                                                @item.FaxNumber
                                            </div>
                                        }
                                        @if (item.CompanyEnabled && !String.IsNullOrEmpty(item.Company))
                                        {
                                            <div class="company">
                                                @item.Company
                                            </div>
                                        }
                                        @if (item.StreetAddressEnabled)
                                        {
                                            <div class="address1">
                                                @item.Address1
                                            </div>
                                        }
                                        @if (item.StreetAddress2Enabled && !String.IsNullOrEmpty(item.Address2))
                                        {
                                            <div class="address2">
                                                @item.Address2
                                            </div>
                                        }
                                        @if (item.CityEnabled || item.StateProvinceEnabled || item.ZipPostalCodeEnabled)
                                        {
                                            <div class="city-state-zip">
                                                @if (item.CityEnabled)
                                                {
                                                    @item.City
                                                }
                                                @if (item.CityEnabled && (item.StateProvinceEnabled || item.ZipPostalCodeEnabled))
                                                {
                                                    <text>,</text>
                                                }
                                                @if (item.StateProvinceEnabled)
                                                {
                                                    @item.StateProvinceName
                                                }
                                                @if (item.ZipPostalCodeEnabled)
                                                {
                                                    @item.ZipPostalCode
                                                }
                                            </div>
                                        }
                                        @if (item.CountryEnabled && !String.IsNullOrEmpty(item.CountryName))
                                        {
                                            <div class="country">
                                                @item.CountryName
                                            </div>
                                        }
                                    </div>
                                    <div class="coupon-code">
                                        <input type="button" value="@T("Checkout.ShipToThisAddress")" class="btn btn-primary" onclick="setLocation('@Url.RouteUrl("CheckoutSelectShippingAddress", new { addressId = item.Id })') " />
                                    </div>

                                </div>


                            }
                        </div>
                    </div>

                }
                @if (Model.ExistingAddresses.Count > 0)
                {
                    @:<div class="col-lg-6 box-block">
                }
                else
                {
                    @:<div class="col-lg-12 box-block">
                }

                        <div class="box-heading">
                            <h4>
                                @if (Model.ExistingAddresses.Count > 0)
                                {
                                    @T("Checkout.OrEnterNewAddress")
                                }
                                else
                                {
                                    @T("Checkout.EnterBillingAddress")
                                }
                            </h4>
                        </div>
                        <div class="custom-footer-cart-div">
                            <div class="box-content">
                                <div class="feature-box">
                            @if (Model.PickupPointsModel != null)
                            {

            <form id="shipping-form" asp-route="CheckoutShippingAddress" method="post">

            @if (Model.DisplayPickupInStore && Model.PickupPointsModel.AllowPickupInStore)
            {
                @await Html.PartialAsync("_PickupPoints", Model.PickupPointsModel)
                <script asp-location="Footer">
                    $(document).ready(function () {
                        $(document).unbind('checkout_toggle_pickup_in_store');
                        $(document).on('checkout_toggle_pickup_in_store', function (e) {                            
                            if (e.checked)
                            {
                                $('#shipping-addresses-form').hide();
                                $('#shippingaddress-new-form').hide();
                            }
                            else
                            {
                                $('#shipping-addresses-form').show();
                                $('#shippingaddress-new-form').show();
                            }
                        });
                    });
                </script>
            }

            @if (Model.PickupPointsModel == null || !Model.PickupPointsModel.PickupInStoreOnly)
            {
                    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CheckoutShippingAddressMiddle, additionalData = Model })
                    <div class="section new-shipping-address" id="shippingaddress-new-form">
                        <div class="title">
                            @if (Model.ExistingAddresses.Count > 0)
                            {
                                <strong class="title-text">@T("Checkout.OrEnterNewAddress")</strong>
                            }
                            else
                            {
                                <strong>@T("Checkout.EnterShippingAddress")</strong>
                            }
                        </div>
                        <div class="enter-address">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            @{
                                var dataDictAddress = new ViewDataDictionary(ViewData);
                                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                                @await Html.PartialAsync("_CreateOrUpdateAddress", Model.ShippingNewAddress, dataDictAddress)
                            }
                        </div>
                    </div>
                    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CheckoutShippingAddressBottom, additionalData = Model })
                
            }
            <div class="buttons">
                <button id="shippingaddress-save-button" type="button" class="button-1" style="display: none" onclick="CheckoutShipping.saveEditAddress('@(storeLocation)checkout/SaveEditShippingAddress/'); return false;">@T("Common.Save")</button>

                <button id="shippingaddress-cancel-button" type="button" class="button-1" style="display: none" onclick="setLocation('@Url.RouteUrl("CheckoutShippingAddress")')">@T("Common.Cancel")</button>

                <button id="shippingaddress-next-button" type="submit" name="nextstep" class="button-1 new-address-next-step-button">@T("Checkout.NextButton")</button>
            </div>

        </form>
                            }
                        </div>
                            </div>
                        </div>
                @if (Model.ExistingAddresses.Count > 0)
                {
                    @:</div>
                    }
                else
                {
                    @:</div>
                    }
            </div>
            <div class="space15px"></div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="title text-center">@T("Checkout.OrderSummary")</h2>
    @await Component.InvokeAsync("OrderSummary")
</div>
