﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)


{<div class="collaps-filter">

        <h2>@T("Products.RecentlyViewedProducts")</h2>
        <div class="brands-name filter-content">
            @for (int i = 0; i < Model.Count; i++)
            {
                var product = Model[i];
                var picture = product.PictureModels.FirstOrDefault();
                <div class="media">
                    @if (picture != null && !string.IsNullOrEmpty(picture.ImageUrl))
                    {
                        <div class="media-left media-middle">
                            <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@picture.Title">
                                <img class="img-thumbnail" alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" />
                            </a>
                        </div>
                    }
                    <div class="media-body">
                        <a class="product-name" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                    </div>
                </div>
            }
        </div>
    </div>

}