﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
@using Nop.Web.Models.Customer;


<div class="features_items my-account-page"><!--features_items-->
    <h2 class="title text-center">@T("Account.PasswordRecovery")</h2>
    <div class="custom-page-box-div">
        <div class="row">
            <div class="col-sm-12">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="alert alert-info square-box">
                        @Model.Result
                    </div>
                }
                @if (!Model.DisablePasswordChanging)
                {
                    using (Html.BeginForm())
                    {
                         @Html.AntiForgeryToken()
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-2 " })
                                    <div class="col-md-6">    
                                        @Html.EditorFor(model => model.NewPassword, new { @class = "gray-input" })
                                    </div>
                                    <div class="col-md-4">
                                        <nop-required />
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-6">    
                                        @Html.EditorFor(model => model.ConfirmNewPassword, new { @class = "gray-input" })
                                    </div>
                                    <div class="col-md-4">
                                        <nop-required />
                                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="submit" name="set-password" class="button-1 btn btn-primary" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>
                    }
                }
            </div>
        </div>
        

    </div>
</div>




