﻿@*@model IList<ProductOverviewModel>*@

@model NewProductsModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.NewProducts").Text);
}
@using Nop.Web.Models.Catalog;

<div class="features_items"><!--features_items-->
    <h2 class="title text-center">@T("Products.NewProducts")&nbsp;&nbsp;&nbsp;<a href="@Url.RouteUrl("NewProducts")" class="header-rss" title="@T("Products.NewProducts.RSS.Hint")"><i class="fa fa-rss header-rss-icon"></i></a></h2>
    <div class="custom-page-box-border-less-div">    
        @if (Model.CatalogProductsModel.Products.Count > 0)
        {
        
            <div class="product-grid home-page-product-grid">
                <div class="row ">

                    @foreach (var product in Model.CatalogProductsModel.Products)
                    {

                        <div class="col-md-4">
                            <div class="offer offer-default silde-show-offer pull-text-center">
                                @Html.Partial("_ProductBox", product)
                            </div>
                        </div>

                    }
                </div>
            </div>
        

        }else
        {
            <div class="alert alert-info square-box">
                No New Products are Available
            </div>
        }

    </div>
</div>